<section id="music">
    <h2 data-translate="music">Music</h2>
    <div class="album-grid">
        <div class="album-item">
            <img src="images/test.jpg" alt="Album Cover">
            <h3>Album Title</h3>
            <p class="album-year">2024</p>
            <div class="spotify-embed">
                <iframe 
                    style="border-radius:12px" 
                    src="https://open.spotify.com/embed/track/5fiMB7A5EyGDkdDqKo5IPX?utm_source=generator" 
                    width="100%" 
                    height="152" 
                    frameBorder="0" 
                    allowfullscreen="" 
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
                    loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</section> 